<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <section class="bg-white min-h-screen">

        <%- include('../partials/nav'); %>

            <div class="container px-6 py-16 mx-auto text-center">
                <div class="max-w-lg mx-auto">
                    <h1 class="text-3xl font-bold text-gray-800 md:text-4xl">Create Scratch Projects with Machine Learning</h1>
                    <a href="/user">
                        <button class="px-6 py-2 mt-6 text-sm font-medium leading-5 text-center text-white capitalize bg-blue-600 rounded-lg hover:bg-blue-500 md:mx-0 md:w-auto focus:outline-none">
                            Start A New Project 🚀
                        </button>
                    </a>
                </div>

                <div class="flex justify-center mt-40">
                    <div class="w-full h-64 bg-gradient-to-r from-orange-500 to-blue-500 rounded-xl md:w-4/5"></div>
                </div>
            </div>
    </section>
</body>

</html>